.home-page {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(https://rocketcodearg.github.io/rocket-course-react-project/static/media/home-page-image.444c0615.png);
    background-color: #ffffff;
}