.lading-button {
    background-color: var(--background-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1.8px;
    margin: 0 auto;
    padding: 10px 14px;
    text-align: center;
    width: 170px;
}

.lading-button:hover {
    background-color: var(--button-hover-color);
}